# Customer Segmentation- Data Cleaning

## Import Library

In [1]:
import numpy as numpy
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_columns', 100)
pd.options.display.float_format = '{:.1f}'.format

In [2]:
# #import excel file with 2 worksheet ('Year 2009-2010','Year 2010-2011')
# retail= pd.concat(pd.read_excel('../datasets/online_retail.xlsx', sheet_name=None), ignore_index=True)
# retail.to_csv('../datasets/retail.csv',index=False)

In [3]:
retail=pd.read_csv('../datasets/retail.csv')
pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_columns', 100)

## Data Dictionary

|Column |Data Type|Description|
|:------|:------|:------|
|Invoice|Nominal|A 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'c', it indicates a cancellation|
|StockCode|Nominal|Product (item) code.A 5-digit integral number uniquely assigned to each distinct product|
|Description|Nominal|Product (item) name|
|Quantity|Numeric|The quantities of each product (item) per transaction|
|InvoiceDate|Numeric|Invice date and time.The day and time when a transaction was generated|
|UnitPrice|Numeric|Unit price.Product price per unit in sterling (Â£).|
|CustomerID|Nominal|Customer numberA 5-digit integral number uniquely assigned to each customer.The name of the country where a customer resides.|
|Country|Nominal|Country name|

In [4]:
# check the head of the dataset
retail.head(2)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,7.0,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.8,13085.0,United Kingdom

In [5]:
# check the tail of the dataset to ensure it includes worksheet Year 2010-2011
retail.tail(2)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,5.0,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.0,12680.0,France

In [6]:
# check shape of dataset
print('The shape of retail dataset is: ',retail.shape)

The shape of retail dataset is:  (1067371, 8)

In [7]:
# Explore dataset by getting more information about rows and columns
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
Invoice        1067371 non-null object
StockCode      1067371 non-null object
Description    1062989 non-null object
Quantity       1067371 non-null int64
InvoiceDate    1067371 non-null object
Price          1067371 non-null float64
Customer ID    824364 non-null float64
Country        1067371 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

<font color=darkblue>The retail dataset comprises 1,067,371 rows and 8 columns.<br>
There are missing values in `Description` and `Customer ID` which only has 1,062,989 and 824,364 values respectively.

In [8]:
retail.describe()

       Quantity     Price  Customer ID
count 1067371.0 1067371.0     824364.0
mean        9.9       4.6      15324.6
std       172.7     123.6       1697.5
min    -80995.0  -53594.4      12346.0
25%         1.0       1.2      13975.0
50%         3.0       2.1      15255.0
75%        10.0       4.2      16797.0
max     80995.0   38970.0      18287.0

<font color=darkblue> There's negative value observed in `Quantity` and `Price` column. <br>
Further checking on these 2 columns is required to inspect on negative value.

The following columns require further checking

|Column |Issue|
|:------|:------|
|Invoice|Not in Integer type|
|StockCode|Not in Integer type|
|Description|Null Value, Description unique count is not tally with StockCode unique count|
|Quantity|There are negative value|
|Price|There are negative value|
|Customer ID|Null Value,There are customer purchasing without registering|

In [9]:
## splitting date, time can create other features for datetime
retail['InvoiceDate']=pd.to_datetime(retail['InvoiceDate'])
retail['Inv_Date']=retail['InvoiceDate'].dt.date
retail['Inv_Time']=retail['InvoiceDate'].dt.time
retail['Yr']=retail['InvoiceDate'].dt.year
retail['Month']=retail['InvoiceDate'].dt.month
retail['MMYY']= retail['InvoiceDate'].dt.strftime('%b %y')
#retail['DayofYear']=retail['InvoiceDate'].dt.dayofyear
#retail['WeekdayName']=retail['InvoiceDate'].dt.weekday
retail.head(2)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,7.0,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.8,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09

In [10]:
# check transaction date
# Check date duration in dataset

In [11]:
#check the unique values of each attribute
print("No of Transactions: ", retail['Invoice'].nunique())
print("No of Product Codes: ",retail['StockCode'].nunique())
print("No of Item Description: ",retail['Description'].nunique())
print("No of Registered Customers:", retail['Customer ID'].nunique() )
print("Percentage of Customers without ID: ", round(retail['Customer ID'].isnull().sum() * 100 / len(retail),2),"%" )
print("No of Customers'countries: ",retail['Country'].nunique())

No of Transactions:  53628
No of Product Codes:  5305
No of Item Description:  5698
No of Registered Customers: 5942
Percentage of Customers without ID:  22.77 %
No of Customers'countries:  43

<font color=darkblue> As Year 2010 data is available in both worksheet, checking is perform to detect if there's any duplication on transaction.<br>

In [12]:
# check duplication
print(retail[retail.duplicated(subset=['Invoice','StockCode','Description','Quantity','InvoiceDate','Price','Customer ID','Country'])].count())

Invoice        34335
StockCode      34335
Description    34228
Quantity       34335
InvoiceDate    34335
Price          34335
Customer ID    26479
Country        34335
Inv_Date       34335
Inv_Time       34335
Yr             34335
Month          34335
MMYY           34335
dtype: int64

<font color=darkblue> There are in total 34,335 duplicate rows.

In [13]:
# dDrop duplicate rows
retail.drop_duplicates(subset=['Invoice','StockCode','Description','Quantity','InvoiceDate','Price','Customer ID','Country'],inplace=True)

In [14]:
# check shape of dataset after drop duplicate
print('The shape of retail dataset after droped duplicate is: ',retail.shape)

print('Number of Unique Invoice: ',retail['Invoice'].nunique())
print('Number of Unique StockCode: ',retail['StockCode'].nunique())
print('Number of Unique Item Description: ',retail['Description'].nunique())
print('Number of Unique Item Customer: ',retail['Customer ID'].nunique())
print('Number of Unique Country: ',retail['Country'].nunique())

The shape of retail dataset after droped duplicate is:  (1033036, 13)
Number of Unique Invoice:  53628
Number of Unique StockCode:  5305
Number of Unique Item Description:  5698
Number of Unique Item Customer:  5942
Number of Unique Country:  43

<font color=darkblue> Unable to change `Invoice` and `StockCode` to int type as some of the Invoice number & Stockcode contains alphabet.<br> 
Check on `Quantity` and `Price` for negative value.

## Data Cleaning

###  Data Cleaning on `Invoice`

In [15]:
# Creata a Inv_Pre column and a Inv_Suf column to segregate Invoice prefix and Invoice suffix
retail['Inv_Pre']=retail.apply(lambda x:None if str(x['Invoice']).isnumeric() else str(x['Invoice'])[0] , axis=1)
retail['Inv_Suf']=retail.apply(lambda x:None if str(x['Invoice']).isnumeric() else str(x['Invoice'])[-1] , axis=1)

In [16]:
retail.head(2)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre,Inv_Suf
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,7.0,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,None,None
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.8,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,None,None

In [17]:
# List down value counts for Inv_Pre
retail['Inv_Pre'].value_counts()

C    19104
A        6
Name: Inv_Pre, dtype: int64

<font color=darkblue> There are 2 alpha Invoice Preffix:
- C
- A

In [18]:
# List down value counts for Inv_Suf
retail['Inv_Suf'].value_counts()

0    2036
5    1982
9    1966
3    1940
7    1937
4    1904
2    1890
6    1859
1    1816
8    1780
Name: Inv_Suf, dtype: int64

<font color=darkblue> There's no alpha Invoice Suffix. Thus drop column `Inv_Suf`.

In [19]:
# Drop Inv_Suf
retail.drop('Inv_Suf',axis=1, inplace=True)

In [20]:
# Investigate on observations with Inv_Pre'C
c=retail[(retail['Inv_Pre']=='C')]
print('There are in total',len(c),'rows of Invoice with prefix "C"')
c.head(3)

There are in total 19104 rows of Invoice with prefix "C"

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,3.0,16321.0,Australia,2009-12-01,10:33:00,2009,12,Dec 09,C
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.6,16321.0,Australia,2009-12-01,10:33:00,2009,12,Dec 09,C
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.2,16321.0,Australia,2009-12-01,10:33:00,2009,12,Dec 09,C

In [21]:
# for invoice number with prefix 'C', check on the transaction pattern for Negative Quantity
c_negative=retail[(retail['Inv_Pre']=='C')&(retail['Quantity']<0)]
print('There are in total',len(c_negative),'rows of Invoice with prefix "C" with negaive quantity')
c_negative.head(3)

There are in total 19103 rows of Invoice with prefix "C" with negaive quantity

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,3.0,16321.0,Australia,2009-12-01,10:33:00,2009,12,Dec 09,C
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.6,16321.0,Australia,2009-12-01,10:33:00,2009,12,Dec 09,C
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.2,16321.0,Australia,2009-12-01,10:33:00,2009,12,Dec 09,C

In [22]:
# for invoice number with prefix 'C', check on the transaction pattern for Positive Quantity
c_positive=retail[(retail['Inv_Pre']=='C')&(retail['Quantity']>0)]
print('There are in total',len(c_positive),'rows of Invoice with prefix "C" with positive quantity')
c_positive

There are in total 1 rows of Invoice with prefix "C" with positive quantity

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre
76799,C496350,M,Manual,1,2010-02-01 08:24:00,373.6,nan,United Kingdom,2010-02-01,08:24:00,2010,2,Feb 10,C

In [23]:
# number of unique customer_id for invoice with prefix C
print('There are in total',len(c),'of cancelled transactions from',retail['Customer ID'].nunique(),'unique Customer ID')
print('Percetage of cancelled transaction is:',round((100*len(c))/(retail['Invoice'].nunique()),2),'%')

There are in total 19104 of cancelled transactions from 5942 unique Customer ID
Percetage of cancelled transaction is: 35.62 %

In [24]:
# random check if there's a non-alphanumeric invoice corresponding with inv number C581484
retail[retail['Invoice'].str.contains('581484')]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre
1065883,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.1,16446.0,United Kingdom,2011-12-09,09:27:00,2011,12,Dec 11,C

In [25]:
# random check if there's a non-alphanumeric invoice corresponding with inv number C496350
retail[retail['Invoice'].str.contains('496350')]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre
76799,C496350,M,Manual,1,2010-02-01 08:24:00,373.6,nan,United Kingdom,2010-02-01,08:24:00,2010,2,Feb 10,C

<font color=darkblue> Each of the Invoice number with prefix C does'not have a corresponding non-alphanumerice Invoice number. <br>
In short,invoice with prefix C is independent from other numeric numbered invoice.<br>
For Invoice numbers having Prefix 'C' with Negative Quantity, is declared as cancellation in the data dictionary provided.<br>   
For Invoice numbers having Prefix 'C' with Positive Quantity, seems to be a sales transaction to non-registered customer.<br>
However, according to the data dictionary provided by data source, Invoice Number that starts with 'C' is a cancellation invoice and thus should be removed from Sales Transactions.

In [26]:
# for invoice number with prefix 'A', check on the transaction pattern
retail[retail['Inv_Pre']=='A']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre
179403,A506401,B,Adjust bad debt,1,2010-04-29 13:36:00,-53594.4,nan,United Kingdom,2010-04-29,13:36:00,2010,4,Apr 10,A
276274,A516228,B,Adjust bad debt,1,2010-07-19 11:24:00,-44031.8,nan,United Kingdom,2010-07-19,11:24:00,2010,7,Jul 10,A
403472,A528059,B,Adjust bad debt,1,2010-10-20 12:04:00,-38925.9,nan,United Kingdom,2010-10-20,12:04:00,2010,10,Oct 10,A
825443,A563185,B,Adjust bad debt,1,2011-08-12 14:50:00,11062.1,nan,United Kingdom,2011-08-12,14:50:00,2011,8,Aug 11,A
825444,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.1,nan,United Kingdom,2011-08-12,14:51:00,2011,8,Aug 11,A
825445,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.1,nan,United Kingdom,2011-08-12,14:52:00,2011,8,Aug 11,A

<font color=darkblue> There are in total 6 transactions having Invoice Number with prefix A.<br>
These 6 transactions have StockCode 'B' and Description of 'Adjust bad debt'.

<font color=darkblue> From tranactional patter above, Invoice number with Prefix C is cancellations that should not be included in 'Sales Transaction', while Invoice number with Prefix A is a bad debt write off that should not be included in 'Sales Transaction'.<br>
Invoice number with Prefix A  should be review seperately on the company's bad debt handling.

In [27]:
# create a new data fram sales_df
# drop Inv_Pre= ‘A'
sales_df=retail.copy()
print(sales_df.shape)

(1033036, 14)

In [28]:
# drop Inv_Pre= ‘A' & 'C'
sales_df=sales_df.drop(sales_df[(sales_df['Inv_Pre']=='A')|(sales_df['Inv_Pre']=='C')].index)
print('sales_df shape:',sales_df.shape)
print('Number of Unique Invoice: ',sales_df['Invoice'].nunique())
print('Number of Unique StockCode: ',sales_df['StockCode'].nunique())
print('Number of Unique Item Description: ',sales_df['Description'].nunique())
print('Number of Unique Item Customer: ',sales_df['Customer ID'].nunique())
print('Number of Unique Country: ',sales_df['Country'].nunique())

sales_df shape: (1013926, 14)
Number of Unique Invoice:  45330
Number of Unique StockCode:  5298
Number of Unique Item Description:  5681
Number of Unique Item Customer:  5881
Number of Unique Country:  43

###  Investigating on`Stock Code`

In [29]:
# Creata a Stock_Pre column and a Stock_Suf column to segregate StockCode prefix and StockCode suffix
sales_df['Stock_Pre']=sales_df.apply(lambda x:None if str(x['StockCode'])[0].isnumeric() else (str(x['StockCode'])[0]), axis=1)
sales_df['Stock_Suf']=sales_df.apply(lambda x:None if str(x['StockCode'])[-1].isnumeric() else (str(x['StockCode'])[-1]), axis=1)
sales_df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre,Stock_Pre,Stock_Suf
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,7.0,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,None,None,None
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.8,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,None,None,P
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.8,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,None,None,W
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.1,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,None,None,None
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.2,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,None,None,None

In [30]:
# List down value counts for StockCode_Pre
sales_df['Stock_Pre'].value_counts()

P    1876
D    1584
M     853
C     271
g      99
A      42
B      34
T      13
S       6
m       5
G       1
Name: Stock_Pre, dtype: int64

<font color=darkblue> Above is the list of StockCode Prefix that contains both uppercase and lowercase.

In [31]:
# List down value counts for StockCode_Suf
sales_df['Stock_Suf'].value_counts()

B    34186
A    30131
C    15111
D     8968
L     5948
E     4904
F     4527
S     4085
G     3374
T     3353
P     2068
M     1838
N     1475
W     1105
a      919
K      874
b      704
H      624
c      570
J      542
U      388
R      270
l      240
d      226
e      154
s      131
n      116
V       87
g       65
f       51
p       41
I       39
Y       35
O       18
Z       18
k       16
m        9
j        2
w        1
         1
Name: Stock_Suf, dtype: int64

<font color=darkblue> Above is the list of StockCode Suffix that contains both uppercase and lowercase.<br>
No cleaning is done on both StockCode Prefix and Suffix untill there's a clear establishment on how the StockCode Prefix and Suffix is assigned.

### Investigating on `Description`

In [32]:
# List down null Description
description=sales_df[sales_df['Description'].isnull()]
print('Number of row with Null Description with valid stockcode:',len(description))
description.head(3)

Number of row with Null Description with valid stockcode: 4275

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre,Stock_Pre,Stock_Suf
470,489521,21646,NaN,-50,2009-12-01 11:44:00,0.0,nan,United Kingdom,2009-12-01,11:44:00,2009,12,Dec 09,None,None,None
3114,489655,20683,NaN,-44,2009-12-01 17:26:00,0.0,nan,United Kingdom,2009-12-01,17:26:00,2009,12,Dec 09,None,None,None
3161,489659,21350,NaN,230,2009-12-01 17:39:00,0.0,nan,United Kingdom,2009-12-01,17:39:00,2009,12,Dec 09,None,None,None

In [33]:
# check on quantity for null description
description['Quantity'].value_counts()

 1       363
-1       195
 2       164
-2       161
-4        98
-3        94
 3        93
-5        84
-6        80
-8        68
 5        68
 4        66
-9        63
-10       60
-12       60
 6        57
-7        56
-20       51
-11       50
-15       47
-30       45
 10       43
-23       40
-14       39
 12       37
-16       36
 8        35
-17       34
-21       34
-40       34
-13       31
-50       29
-18       29
-19       29
-25       28
 7        27
-24       25
 20       25
-27       25
 11       24
-36       23
-80       23
 9        22
-70       22
-26       21
 30       21
 48       21
-22       20
-38       20
-31       19
-32       19
-100      19
 24       19
 15       18
-29       18
-200      18
-60       18
 23       17
-34       17
-37       17
-45       17
 60       16
-54       15
-33       15
-28       14
 13       14
-90       14
-42       14
 100      14
 36       13
-44       13
 96       13
-66       13
-43       13
-46       13
 17       12
-35       12
 18       12
 25       12
-120      11
 16       11
-110      11
 144      11
 14       11
-48       10
 19       10
-52        9
-61        9
-41        8
-140       8
-47        8
-150       8
 1000      8
 2560      8
-84        8
-53        8
 40        7
 21        7
 50        7
-49        7
-39        7
-59        7
-130       7
-67        7
 27        7
 72        7
 70        7
-2560      7
-89        7
-57        7
-108       6
 200       6
 120       6
 192       6
-86        6
 31        6
 46        6
-75        6
 5000      6
 22        6
 80        6
-65        6
-51        6
-77        6
 288       6
-5000      6
-1000      6
 29        5
 45        5
-63        5
 65        5
-114       5
-240       5
 90        5
-99        5
-82        5
 74        5
-190       5
-58        5
-170       5
-126       5
 47        5
-109       5
-96        5
 35        5
-160       5
 39        5
 67        5
-105       5
 64        5
-148       5
-93        5
-106       4
-205       4
-72        4
 480       4
-62        4
-55        4
 37        4
 28        4
 42        4
-71        4
 43        4
-92        4
 150       4
-88        4
-73        4
 38        3
-125       3
 52        3
-400       3
-300       3
-56        3
-81        3
-64        3
-69        3
-97        3
-78        3
 33        3
-145       3
 26        3
-104       3
 56        3
 34        3
-74        3
-275       3
-230       3
-115       3
-201       3
-135       3
 180       3
-123       3
-118       3
 32        3
-101       3
-95        3
 140       3
-210       3
-111       3
 76        2
-119       2
-455       2
 155       2
 800       2
-127       2
-91        2
 97        2
-117       2
-147       2
-87        2
-68        2
 57        2
 280       2
 400       2
 420       2
 53        2
 2300      2
-113       2
-151       2
-129       2
 500       2
-207       2
-179       2
-79        2
 81        2
-284       2
 320       2
 167       2
-152       2
-169       2
 270       2
 219       2
-122       2
 1800      2
-134       2
-142       2
 250       2
-146       2
-250       2
 156       2
-196       2
-234       2
-188       2
-178       2
-180       2
-168       2
-198       2
-206       2
 164       2
 214       2
-102       2
-217       2
-181       2
-144       2
 171       2
 87        2
-85        2
 83        2
 79        2
 71        2
-76        2
-173       2
-177       2
 4800      2
-4800      2
 108       2
 101       2
-260       2
-116       2
 58        2
 44        2
 66        2
-128       2
 128       2
-136       2
 240       2
-3167      1
-9200      1
-1092      1
 960       1
 1200      1
-1020      1
-1012      1
 160       1
 920       1
-124       1
-320       1
 316       1
-312       1
-292       1
-280       1
-276       1
 260       1
 84        1
 88        1
-112       1
 136       1
 900       1
 232       1
-220       1
 216       1
 152       1
-216       1
-212       1
-9600      1
-156       1
 204       1
 184       1
-164       1
-328       1
 344       1
 348       1
 784       1
-700       1
 684       1
 680       1
-632       1
-620       1
 576       1
 540       1
 524       1
 520       1
-472       1
 460       1
-440       1
-428       1
-420       1
-412       1
 404       1
-396       1
 372       1
-360       1
-352       1
-1400      1
 1287      1
 9600      1
 95        1
-590       1
 2651      1
-682       1
 682       1
 750       1
-770       1
 954       1
-1158      1
-1198      1
 5568      1
-3669      1
-6000      1
 6000      1
 51        1
 63        1
-530       1
-514       1
-470       1
-290       1
 222       1
 230       1
-242       1
-266       1
-270       1
-278       1
-310       1
-378       1
-322       1
-330       1
-338       1
-342       1
-346       1
-350       1
 75        1
 99        1
-1480      1
 103       1
 239       1
-245       1
-6400      1
-257       1
 279       1
 287       1
-317       1
 327       1
 347       1
 387       1
 467       1
-553       1
-725       1
-2834      1
-4999      1
-209       1
 207       1
 203       1
 147       1
 107       1
 115       1
-121       1
 123       1
-141       1
 143       1
-153       1
-197       1
 159       1
-161       1
 163       1
 187       1
-193       1
 195       1
-218       1
 210       1
-194       1
-186       1
-159       1
-163       1
-171       1
 177       1
-211       1
-223       1
 225       1
-231       1
 245       1
-259       1
-267       1
-283       1
-295       1
-299       1
-315       1
 157       1
-155       1
 141       1
-83        1
-1520      1
-3667      1
-1800      1
 2000      1
 61        1
 73        1
 89        1
-139       1
 93        1
-107       1
 113       1
 125       1
 129       1
 137       1
-327       1
-343       1
-359       1
-138       1
 86        1
-98        1
 4200      1
 110       1
 118       1
 122       1
 142       1
 54        1
-158       1
-162       1
-166       1
 170       1
-174       1
 174       1
 82        1
-1395      1
-387       1
-599       1
-391       1
-1129      1
 425       1
 445       1
 453       1
-499       1
 2880      1
-1227      1
-843       1
-2916      1
-939       1
 3000      1
-999       1
-3140      1
 2472      1
Name: Quantity, dtype: int64

<font color=darkblue> There'a a mix of both positive quantity and negative quantity for item with null description.

In [34]:
# check on price for null description
description['Price'].value_counts()

0.0    4275
Name: Price, dtype: int64

<font color=darkblue> All items with null description has 0 pricing

In [35]:
# check on customer for null description
description['Customer ID'].value_counts()

Series([], Name: Customer ID, dtype: int64)

<font color=darkblue>  All items with null description has null customer ID.

In [36]:
# check on country for null description
description['Country'].value_counts()

United Kingdom    4275
Name: Country, dtype: int64

 <font color=darkblue>All items with null description are transactions from United Kingdom.

In [37]:
# check on country for null description
description['MMYY'].value_counts()

Feb 10    510
May 10    476
Nov 10    312
Mar 10    252
Dec 09    228
Apr 11    226
Jan 10    222
Jun 10    175
Mar 11    165
Aug 10    159
Oct 10    157
Jul 11    155
May 11    138
Sep 10    135
Dec 10    125
Jan 11    114
Apr 10    110
Oct 11    104
Sep 11     99
Jun 11     91
Jul 10     85
Aug 11     82
Nov 11     75
Feb 11     65
Dec 11     15
Name: MMYY, dtype: int64

 <font color=darkblue>All items with null description has date range from Dec 2009 to Dec 2011 without specific pattern.

<font color=darkblue> Checking on null Description return 4275 rows of results. <br>
All the 4275 rows have null Customer ID information and are transactions made by client from United Kingdom with '$0.0' pricing.

###  Data Cleaning on`Customer ID`

In [38]:
# Filter Customer_Id is null, Price=0.0, Description is null
customerid=sales_df[(sales_df['Customer ID'].isnull()) & (sales_df['Price']==0.0)&(sales_df['Description'].isnull())]
customerid_=customerid[['Invoice','StockCode','Description','Quantity','Price','Customer ID','Country']]
print('Number of null Customer ID:',customerid_.shape[0])
customerid_.head(3)

Number of null Customer ID: 4275

,Invoice,StockCode,Description,Quantity,Price,Customer ID,Country
470,489521,21646,NaN,-50,0.0,nan,United Kingdom
3114,489655,20683,NaN,-44,0.0,nan,United Kingdom
3161,489659,21350,NaN,230,0.0,nan,United Kingdom

<font color=darkblue> The above 4275 rows of entry that has
- Customer ID Null Value
- Price ='0.0'
- Description Null_Value<br>
are drop as they do not carry useful Customer & Revenue information.

In [39]:
# in sales_df :Drop Customer_Id is null, Price=0.0, Description is null
sales_df=sales_df.drop(sales_df[(sales_df['Customer ID'].isnull())& (sales_df['Price']==0.0)&(sales_df['Description'].isnull())].index)

print('sales_df shape:',sales_df.shape)
print('Number of Unique Invoice: ',sales_df['Invoice'].nunique())
print('Number of Unique StockCode: ',sales_df['StockCode'].nunique())
print('Number of Unique Item Description: ',sales_df['Description'].nunique())
print('Number of Unique Item Customer: ',sales_df['Customer ID'].nunique())
print('Number of Unique Country: ',sales_df['Country'].nunique())

sales_df shape: (1009651, 16)
Number of Unique Invoice:  41055
Number of Unique StockCode:  4935
Number of Unique Item Description:  5681
Number of Unique Item Customer:  5881
Number of Unique Country:  43

In [40]:
null_customer=sales_df[sales_df['Customer ID'].isnull()]
print('Number of rows with null customer:',len(null_customer))
null_customer.head(3)

Number of rows with null customer: 230156

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre,Stock_Pre,Stock_Suf
263,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.0,nan,United Kingdom,2009-12-01,10:52:00,2009,12,Dec 09,None,None,None
283,489463,71477,short,-240,2009-12-01 10:52:00,0.0,nan,United Kingdom,2009-12-01,10:52:00,2009,12,Dec 09,None,None,None
284,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.0,nan,United Kingdom,2009-12-01,10:53:00,2009,12,Dec 09,None,None,A

<font color=darkblue> The above 230,156 rows of entry that has no Customer ID.<br>
These rows were droped.

In [41]:
# in sales_df :Drop Customer_Id is null
sales_df=sales_df.drop(sales_df[(sales_df['Customer ID'].isnull())].index)

print('sales_df shape:',sales_df.shape)
print('Number of Unique Invoice: ',sales_df['Invoice'].nunique())
print('Number of Unique StockCode: ',sales_df['StockCode'].nunique())
print('Number of Unique Item Description: ',sales_df['Description'].nunique())
print('Number of Unique Item Customer: ',sales_df['Customer ID'].nunique())
print('Number of Unique Country: ',sales_df['Country'].nunique())

sales_df shape: (779495, 16)
Number of Unique Invoice:  36975
Number of Unique StockCode:  4631
Number of Unique Item Description:  5283
Number of Unique Item Customer:  5881
Number of Unique Country:  41

### Data Cleaning on `Price`

In [42]:
# Check for Negative Price
sales_df.loc[sales_df['Price']<0,['Invoice','StockCode','Description','Quantity','Price','Customer ID','Country']]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, Price, Customer ID, Country]
Index: []

<font color=darkblue> There's no Price with Negative Value.

In [43]:
# Check price=0.0 and customer isnot null
price=sales_df[(sales_df['Price']==0.0)& (sales_df['Customer ID'].notnull())]
print('Number of rows with',price['Customer ID'].nunique(),'valid CustomerID and zero pricing',len(price))
price.sort_values(by='Quantity',ascending=False).head(3)

Number of rows with 51 valid CustomerID and zero pricing 70

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre,Stock_Pre,Stock_Suf
1027583,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.0,13256.0,United Kingdom,2011-11-25,15:57:00,2011,11,Nov 11,None,None,None
358820,524181,46000M,POLYESTER FILLER PAD 45x45cm,648,2010-09-27 16:59:00,0.0,17450.0,United Kingdom,2010-09-27,16:59:00,2010,9,Sep 10,None,None,M
823515,562973,23157,SET OF 6 NATIVITY MAGNETS,240,2011-08-11 11:42:00,0.0,14911.0,EIRE,2011-08-11,11:42:00,2011,8,Aug 11,None,None,None

<font color=darkblue> There are 70 rows of transaction with '0.0' Price.<br>
These 70 rows of transaction with '0.0' pricing might be FOC items for csutomers.<br>
It doesn't contribute information on what item has each Customer with ID has bought.<br>
Thus these 70 rows of information with 51 unique Customer ID will be dropped.

In [44]:
# in sales_df :Drop Price='0.0'
sales_df=sales_df.drop(sales_df[(sales_df['Price']==0.0)].index)

print('sales_df shape:',sales_df.shape)
print('Number of Unique Invoice: ',sales_df['Invoice'].nunique())
print('Number of Unique StockCode: ',sales_df['StockCode'].nunique())
print('Number of Unique Item Description: ',sales_df['Description'].nunique())
print('Number of Unique Item Customer: ',sales_df['Customer ID'].nunique())
print('Number of Unique Country: ',sales_df['Country'].nunique())

sales_df shape: (779425, 16)
Number of Unique Invoice:  36969
Number of Unique StockCode:  4631
Number of Unique Item Description:  5283
Number of Unique Item Customer:  5878
Number of Unique Country:  41

### Clean Data on `Quantity`

In [45]:
negative_qty=sales_df.loc[sales_df['Quantity']<0,'Inv_Pre']
negative_qty

Series([], Name: Inv_Pre, dtype: object)

<font color=darkblue> There's no Quantity with Negative Value.

### Clean Data on`Description`

In [46]:
sales_df[sales_df['Description'].isnull()]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Inv_Date, Inv_Time, Yr, Month, MMYY, Inv_Pre, Stock_Pre, Stock_Suf]
Index: []

### Clean Data on`StockCode` with multiple `Description` and create a StockMasterFile

In [47]:
sales_df[sales_df['StockCode'].isnull()]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Inv_Date, Inv_Time, Yr, Month, MMYY, Inv_Pre, Stock_Pre, Stock_Suf]
Index: []

In [48]:
sales_df['Desc']=sales_df['Description']
sales_df['Price2']=sales_df['Price']
sales_df['Price3']=sales_df['Price']
# Groupby 'StockCode' to check on which Stock code has more than 1 description 
stockcode=sales_df.groupby('StockCode').agg({
                                            'Invoice':pd.Series.nunique,
                                            'Customer ID':pd.Series.nunique,
                                            'Country':pd.Series.nunique,
                                            'Quantity':'sum',
                                            'Description':pd.Series.nunique,
                                            'Desc':'unique',
                                            'Price':'sum',
                                            'Price2':pd.Series.nunique,
                                            'Price3':'unique'})
stockcode.rename(columns={'Invoice':'Inv_Count','Customer ID':'Customer_Count','Quantity':'Total_Qty','Description':'Number_of_Item_Types','Desc':'Unique_Description','Price':'Total_Unit_Item_Price','Price2':'UniquePrice_Count','Price3':'UniquePrice'},inplace=True)

stockcode.reset_index(inplace= True)
print('Total Number of unique Stock Code:',len(stockcode))
stockcode.head(3)

Total Number of unique Stock Code: 4631

,StockCode,Inv_Count,Customer_Count,Country,Total_Qty,Number_of_Item_Types,Unique_Description,Total_Unit_Item_Price,UniquePrice_Count,UniquePrice
0,10002,297,164.0,12,8479,1,[INFLATABLE POLITICAL GLOBE ],254.0,2.0,"[0.85, 0.72]"
1,10080,26,23.0,1,303,1,[GROOVY CACTUS INFLATABLE],13.8,2.0,"[0.85, 0.39]"
2,10109,1,1.0,1,4,1,[BENDY COLOUR PENCILS],0.4,1.0,[0.42]

In [49]:
stockcode_multiple_description=stockcode.loc[stockcode['Number_of_Item_Types']>1]
stockcode_multiple_description.sort_values(by=['Number_of_Item_Types','StockCode'],ascending=([False,True]),inplace=True)
print('There are ',len(stockcode_multiple_description),'stock codes with multiple description')
stockcode_multiple_description.head(3)

There are  624 stock codes with multiple description

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,StockCode,Inv_Count,Customer_Count,Country,Total_Qty,Number_of_Item_Types,Unique_Description,Total_Unit_Item_Price,UniquePrice_Count,UniquePrice
219,20685,1478,626.0,19,9364,4,"[RED SPOTTY COIR DOORMAT, DOOR MAT RED SPOT, D...",10966.0,12.0,"[6.75, 5.95, 4.0, 7.49, 6.35, 4.58, 7.95, 7.35..."
1212,21955,576,279.0,9,3717,4,"[UNION JACK GUNS & ROSES DOORMAT, DOORMAT U...",4221.1,10.0,"[6.75, 5.95, 4.0, 7.49, 6.35, 4.58, 7.95, 8.0,..."
1540,22344,84,65.0,11,1344,4,"[PARTY PIZZA DISH PINK+WHITE SPOT , PARTY PIZZ...",59.3,4.0,"[0.85, 0.21, 1.63, 0.19]"

In [50]:
# Creating a Stock Master File
stockmaster_df=stockcode[['StockCode','Number_of_Item_Types','Unique_Description']].copy()
print('There are ',len(stockmaster_df),'unique stockcode')
stockmaster_df.sort_values(by='Number_of_Item_Types',ascending=False).head()

There are  4631 unique stockcode

,StockCode,Number_of_Item_Types,Unique_Description
2393,23236,4,"[DOILEY STORAGE TIN, DOILEY BISCUIT TIN, STORA..."
2353,23196,4,"[RETRO LEAVES MAGNETIC NOTEPAD, RETO LEAVES MA..."
1212,21955,4,"[UNION JACK GUNS & ROSES DOORMAT, DOORMAT U..."
1542,22346,4,"[PARTY PIZZA DISH GREEN+WHITE SPOT , PARTY PIZ..."
219,20685,4,"[RED SPOTTY COIR DOORMAT, DOOR MAT RED SPOT, D..."

In [51]:
desctemp= pd.DataFrame(stockmaster_df['Unique_Description'].tolist())
print('There are ',len(desctemp),'unique stockcode')
desctemp.head()

There are  4631 unique stockcode

                             0     1     2     3
0  INFLATABLE POLITICAL GLOBE   None  None  None
1     GROOVY CACTUS INFLATABLE  None  None  None
2         BENDY COLOUR PENCILS  None  None  None
3                 DOGGY RUBBER  None  None  None
4        HEARTS WRAPPING TAPE   None  None  None

In [52]:
# Add the multiple description into data frame stockmaster_df
desc1=list(desctemp[0])
desc2=list(desctemp[1])
desc3=list(desctemp[2])
desc4=list(desctemp[3])


stockmaster_df['Desc1']=desc1
stockmaster_df['Desc2']=desc2
stockmaster_df['Desc3']=desc3
stockmaster_df['Desc4']=desc4


# taking the first description as item description to standardize stock description for all stock codes
stockmaster_df['Item Description']=stockmaster_df['Desc1']
stockmaster_df.sort_values(by='Number_of_Item_Types',ascending=False,inplace=True)
print('There are ',len(stockmaster_df),'unique stockcode')
stockmaster_df.head(5)

There are  4631 unique stockcode

,StockCode,Number_of_Item_Types,Unique_Description,Desc1,Desc2,Desc3,Desc4,Item Description
2393,23236,4,"[DOILEY STORAGE TIN, DOILEY BISCUIT TIN, STORA...",DOILEY STORAGE TIN,DOILEY BISCUIT TIN,STORAGE TIN VINTAGE DOILY,STORAGE TIN VINTAGE DOILEY,DOILEY STORAGE TIN
2353,23196,4,"[RETRO LEAVES MAGNETIC NOTEPAD, RETO LEAVES MA...",RETRO LEAVES MAGNETIC NOTEPAD,RETO LEAVES MAGNETIC SHOPPING LIST,LEAVES MAGNETIC SHOPPING LIST,VINTAGE LEAF MAGNETIC NOTEPAD,RETRO LEAVES MAGNETIC NOTEPAD
1212,21955,4,"[UNION JACK GUNS & ROSES DOORMAT, DOORMAT U...",UNION JACK GUNS & ROSES DOORMAT,DOORMAT UNION JACK GUNS AND ROSES,DOOR MAT UNION JACK GUNS AND ROSES,DOORMAT UNION JACK GUNS AND ROSES,UNION JACK GUNS & ROSES DOORMAT
1542,22346,4,"[PARTY PIZZA DISH GREEN+WHITE SPOT , PARTY PIZ...",PARTY PIZZA DISH GREEN+WHITE SPOT,PARTY PIZZA DISH GREEN WHITE SPOT,PARTY PIZZA DISH GREEN RETROSPOT,PARTY PIZZA DISH GREEN POLKADOT,PARTY PIZZA DISH GREEN+WHITE SPOT
219,20685,4,"[RED SPOTTY COIR DOORMAT, DOOR MAT RED SPOT, D...",RED SPOTTY COIR DOORMAT,DOOR MAT RED SPOT,DOORMAT RED SPOT,DOORMAT RED RETROSPOT,RED SPOTTY COIR DOORMAT

### StockCode with Multiple Pricing

In [53]:
stockcode.sort_values(by='UniquePrice_Count',ascending=False,inplace=True)
stockcode.head()

,StockCode,Inv_Count,Customer_Count,Country,Total_Qty,Number_of_Item_Types,Unique_Description,Total_Unit_Item_Price,UniquePrice_Count,UniquePrice
4625,M,620,438.0,19,9384,1,[Manual],146269.2,203.0,"[0.85, 0.21, 10.0, 15.95, 8.7, 1213.02, 0.35, ..."
4627,POST,1803,405.0,24,5235,1,[POSTAGE],53979.8,53.0,"[18.0, 141.0, 130.0, 28.0, 15.0, 40.0, 4.0, 21..."
4619,ADJUST,32,25.0,9,32,2,"[Adjustment by john on 26/01/2010 16, Adjustme...",3538.5,32.0,"[68.34, 201.56, 205.82, 21.0, 63.24, 56.73, 11..."
4624,DOT,16,1.0,1,16,1,[DOTCOM POSTAGE],11906.4,16.0,"[11.17, 16.46, 13.16, 85.58, 878.55, 688.08, 4..."
564,21166,1225,475.0,12,19652,1,[COOK WITH WINE METAL SIGN ],2442.1,13.0,"[1.95, 1.69, 1.4, 1.65, 2.21, 1.53, 2.08, 1.85..."

In [54]:
print('There are in total', len(stockcode.loc[stockcode['UniquePrice_Count']==1.0]), 'stockcodes that has their price not changed throughout the period')
print('This accounted for', round(len(stockcode.loc[stockcode['UniquePrice_Count']==1.0])*100/len(stockcode),2),'% of the stockmaster list')

There are in total 1062 stockcodes that has their price not changed throughout the period
This accounted for 22.93 % of the stockmaster list

In [55]:
print('On an average, each stock code has',round(stockcode['UniquePrice_Count'].mean()),'unique price')

On an average, each stock code has 3 unique price

<font color=darkblue>. It was noticed that for each unique stock code, there are multiple unique price.<br>
StockCode 'M','POST','ADJUST','DOT' has Unique Price Count from 16-203 most probably due to each individual transaction are charged with different price.<br>. The rest of Unique Price Count from 2-13 are most probably due to price changes across time. This could be verified futher.<br>

### Description with Multiple StockCodes

In [56]:
stockmaster_df['sc']=stockmaster_df["StockCode"]
# Groupby 'Item Description' to check on which Stock code has more than 1 description 
description=stockmaster_df.groupby('Item Description').agg({
                                            'StockCode':pd.Series.nunique,
                                            'sc':'unique'})
                                            #'Customer ID':pd.Series.nunique,
                                            #'Country':pd.Series.nunique,
                                            #'Quantity':'sum',
                                            #'Description':pd.Series.nunique,
                                            #'Desc':'unique',
                                            #'Price':'sum'})

description.rename(columns={'StockCode':'StockCode','sc':'Unique StockCode'},inplace=True)
description.reset_index(inplace= True)
print(len(description))
description.sort_values(by='StockCode',ascending=False,inplace=True)

4608

In [57]:
multiple_stockcode=description.loc[description['StockCode']>1]
multiple_stockcode.reset_index(inplace= True)
print('There are ',len(multiple_stockcode),'number of Item Desccription with multiple Stockcodes')
multiple_stockcode

There are  21 number of Item Desccription with multiple Stockcodes

,index,Item Description,StockCode,Unique StockCode
0,2394,"METAL SIGN,CUPCAKE SINGLE HOOK",3,"[82613A, 82613B, 82613C]"
1,996,COLOURING PENCILS BROWN TUBE,3,"[10133, 10134, 10135]"
2,156,"ACRYLIC JEWEL SNOWFLAKE,BLUE",2,"[35817B, 35815B]"
3,2907,PINK FAIRY CAKE CUSHION COVER,2,"[47585A, 47586A]"
4,1630,FROSTED WHITE BASE,2,"[79403, 79406]"
5,4363,WHITE BAMBOO RIBS LAMPSHADE,2,"[40002, 40003]"
6,531,BLUE FLOCK GLASS CANDLEHOLDER,2,"[79328, 79337]"
7,3988,SQUARE CHERRY BLOSSOM CABINET,2,"[84666, 84665]"
8,1278,EAU DE NILE JEWELLED PHOTOFRAME,2,"[85023B, 85024B]"
9,2922,PINK FLOWERS RABBIT EASTER,2,"[35910B, 35909B]"
10,1607,FRENCH LATTICE CUSHION COVER,2,"[20835, 20838]"
11,1604,FRENCH FLORAL CUSHION COVER,2,"[20837, 20840]"
12,2913,PINK FLOCK GLASS CANDLEHOLDER,2,"[79329, 79331]"
13,3324,RETRO PLASTIC POLKA TRAY,2,"[79190B, 79191B]"
14,3322,RETRO PLASTIC DAISY TRAY,2,"[79190D, 79191D]"
15,3321,RETRO PLASTIC 70'S TRAY,2,"[79190A, 79192A]"
16,4201,This is a test product.,2,"[TEST001, TEST002]"
17,998,COLUMBIAN CANDLE RECTANGLE,2,"[72131, 72133]"
18,1000,COLUMBIAN CANDLE ROUND,2,"[72127, 72129]"
19,2467,MODERN CHRISTMAS TREE CANDLE,2,"[20881, 20882]"
20,999,COLUMBIAN CANDLE ROUND,2,"[72128, 72130]"

<font color=darkblue> Based on the above observation of 21 descriptions with multiple stockcodes, the multipled stockcodes are of adjacent, or with some suffix, <br>
Description with mutiple stockcodes will be cleaned by assigning the first stockcodes to the description.

In [58]:
# # merge 'Item Description' to sales_df
# #df=pd.merge(prices_pct,fillings,how='left',left_index=True,right_index=True)
# sales_df=pd.merge(sales_df,stockmaster_df,how='left')
# sales_df

In [59]:
sales_df.head(2)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Inv_Pre,Stock_Pre,Stock_Suf,Desc,Price2,Price3
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,7.0,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,None,None,None,15CM CHRISTMAS GLASS BALL 20 LIGHTS,7.0,7.0
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.8,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,None,None,P,PINK CHERRY LIGHTS,6.8,6.8

In [60]:
# # #df = pd.merge(df,df2[['Key_Column','Target_Column']],on='Key_Column', how='left')

# # sales_df=pd.merge(sales_df,stockmaster_df[['StockCode','Item Description']])
# # sales_df

# drop columns: 'Inv_Pre','Stock_Pre','Stock_Suf','Desc' and rearrange columns
cols_delete=['Inv_Pre','Stock_Pre','Stock_Suf','Desc']
sales_df.drop(cols_delete,axis=1,inplace=True)

# Add in new column "Revenue"
sales_df['Revenue']=sales_df['Quantity']* sales_df['Price']
sales_df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY,Price2,Price3,Revenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,7.0,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,7.0,7.0,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.8,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,6.8,6.8,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.8,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,6.8,6.8,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.1,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,2.1,2.1,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.2,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09,1.2,1.2,30.0

In [61]:
sales_df.rename(columns={'Description':'Item Description'},inplace=True)

In [62]:
sales_df=sales_df[['Invoice','InvoiceDate','StockCode','Item Description','Price','Quantity','Revenue','Customer ID','Country','Inv_Date','Inv_Time','Yr','Month','MMYY']]
sales_df.head()

,Invoice,InvoiceDate,StockCode,Item Description,Price,Quantity,Revenue,Customer ID,Country,Inv_Date,Inv_Time,Yr,Month,MMYY
0,489434,2009-12-01 07:45:00,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,7.0,12,83.4,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09
1,489434,2009-12-01 07:45:00,79323P,PINK CHERRY LIGHTS,6.8,12,81.0,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09
2,489434,2009-12-01 07:45:00,79323W,WHITE CHERRY LIGHTS,6.8,12,81.0,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09
3,489434,2009-12-01 07:45:00,22041,"RECORD FRAME 7"" SINGLE SIZE",2.1,48,100.8,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09
4,489434,2009-12-01 07:45:00,21232,STRAWBERRY CERAMIC TRINKET BOX,1.2,24,30.0,13085.0,United Kingdom,2009-12-01,07:45:00,2009,12,Dec 09

## Finalizing sales_df

In [63]:
#check the unique values of each attribute
print('Number of rows:',len(sales_df))
print("No of Transactions: ", sales_df['Invoice'].nunique())
print("No of Product Codes: ",sales_df['StockCode'].nunique())
print("No of Item Description: ",sales_df['Item Description'].nunique())
print("No of Registered Customers:", sales_df['Customer ID'].nunique() )
print("No of Customers'countries: ",sales_df['Country'].nunique())

Number of rows: 779425
No of Transactions:  36969
No of Product Codes:  4631
No of Item Description:  5283
No of Registered Customers: 5878
No of Customers'countries:  41

<font color=darkblue> After cleaning data, Number of unique Customer ID dropped from 5942 to 5878 (a decrease of 64 unique customer, which is 1% of the original 5942) .<br>

In [64]:
# country in retail df
retail_country=retail['Country'].unique()
salesdf_country=sales_df['Country'].unique()

In [65]:
# check on which country has been dropped

for country in retail_country:
   
    if country not in salesdf_country:
        
        print(country)

Bermuda
Hong Kong

In [66]:
retail.loc[(retail['Country']=='Bermuda')|(retail['Country']=='Hong Kong'),'Customer ID'].value_counts()

Series([], Name: Customer ID, dtype: int64)

<font color=darkblue> After cleaning, the number of customers' country has decreased from 43 to 41. The 2 countries which have had their rows dropped aare Bermuda and HongKong. When checked on the Customer ID from these 2 countries, it return Customer ID null. <br> 
Number of unique Customer ID also dropped from 5942 to 5878 (a decrease of 64 unique customer, which is 1% of the original 5942)

In [67]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 779425 entries, 0 to 1067370
Data columns (total 14 columns):
Invoice             779425 non-null object
InvoiceDate         779425 non-null datetime64[ns]
StockCode           779425 non-null object
Item Description    779425 non-null object
Price               779425 non-null float64
Quantity            779425 non-null int64
Revenue             779425 non-null float64
Customer ID         779425 non-null float64
Country             779425 non-null object
Inv_Date            779425 non-null object
Inv_Time            779425 non-null object
Yr                  779425 non-null int64
Month               779425 non-null int64
MMYY                779425 non-null object
dtypes: datetime64[ns](1), float64(3), int64(3), object(7)
memory usage: 89.2+ MB

In [68]:
# # export sales_df to a csv file 
# sales_df.to_csv('../datasets/sales_df.csv',index=False)

# Summary on Data Cleaning

<font color=darkblue>

- There are in total 287,946 rows of data dropped (26.98% of original data)<br>
    - 34,335 Duplicates rows (Data provided in an excelworkbook of 2 worksheet with overlapped date & transaction (3.2% of original data)<br>
    - 19,110 rows of with Invoice Prefix 'C' & 'A' (1.7% of original data)<br> 

    - 4,275 rows with null Customer ID information,transactions made by customer from United Kingdom with \\$0.0 pricing.(0.4% of original data) <br>
    - 230,156 rows with null Customer ID information (21.563% of original data)<br>
    - 70 rows with Customer ID but '$0.0 price.might be FOC items for csutomers.(0.007% of original data)<br><br>

- Percetage of cancelled transaction is: 35.62 %. For Invoice numbers having Prefix 'C' with Positive Quantity, seems to be a sales transaction to non-registered customer.<br><br>
- There are in total 6 transactions having Invoice Number with prefix A.These 6 transactions have StockCode 'B' and Description of 'Adjust bad debt'.<br><br>
 
- Stockmaster File<br>
    -There are in total  4,631 unique stockcodes but there are 4,608 item description.Upon random checking, it is discovered that a single stockcode is assigned with mutiple descriptions with different format (some with spacing, some with symbol '+' instead of spacing.For stockcode with multiple descriptions, the first description was used for standardization purposes.<br>
    -There are  21 Description with multiple stcokcodes.Cleaning is not done at this stage.<br><br>
 
- Customer ID<br>
    - There's a dropped from 5,942 to 5,878 (a decrease of 64 unique customer, which is 1% of the original 5,942)<br><br>
    
- Country<br>
    - The 2 countries which have had their rows dropped aare Bermuda and HongKong. When checked on the Customer ID from these 2 countries, it return Customer ID null.<br><br>
    
- Pricing 
    - There are multiple pricing for each individual stockcodes.<br>StockCode 'M','POST','ADJUST','DOT' has Unique Price Count from 16-203 most probably due to each individual transaction are charged with different price.<br>.The rest of Unique Price Count from 2-13 are most probably due to price changes across time.<br>

|Attribute |Original|Final|Reduced by|
|:------|:------|:------|:------|
|No of rows|1,067,371|779,425|26.98%|
|No of Transactions|53,628|36,969|31.06%|
|No of Product Codes|5,305|4,631|12.70%|
|No of Item Description|5,698|4,608|19.12%|
|No of Registered Customers|5,942|5,878|1.07%|
|No of Customers Countries|43|41|4.65%|